---
import Header from '~/components/Header.astro';
import Layout from './Layout.astro';
---

<Layout pageTitle={'Home'}>
  <>
    <Header />

    <main class="min-h-[100vh] md:mt-[4.5rem] px-4 pt-20">
      <slot />
    </main>

    <!-- Footer goes here -->
  </>
</Layout>
