---
import Header from '~/components/Header.astro';
import Layout from './Layout.astro';

type PageProps = {
  title: string;
};

const { title } = Astro.props as PageProps;
---

<Layout pageTitle={title}>
  <>
    <Header />

    <main class="min-h-[100vh] md:mt-[4.5rem] px-4 pt-20 pb-2">
      <slot />
    </main>

    <!-- Footer goes here -->
  </>
</Layout>
